@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: none;
  transition: all 0.8s;
}
img{
    max-width: 100%;
}
.dark-theme{
    background: #25252a;
    color: #e9e3d5;
}
.dark-theme .flex-article .right-side .delete{
    color: #e9e3d5;
    border-color: #e9e3d5;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}