@keyframes anim {
    0% {
        transform: translateX(-1%)
    }
    25% {
        transform: translateX(1%)
    }
    50% {
        transform: translateX(-2%)
    }
    75% {
        transform: translateX(2%)
    }
    100% {
        transform: translateX(0%)
    }
}

.top-side {
    margin-bottom: 45px;
    margin-top: 105px;
}

.top-side h1 {
    text-align: center;
}

.field {
    margin-top: 20px;
}

.long {
    width: 100%;
}

.filed-form {
    margin-top: 20px;
}

.button {
    margin: 0 auto;
}

.error {
    animation: anim 0.4s ease-in-out;
}

.file-input {
    display: none;
}
label{
    border-radius: 5px!important;
}
label span{
    margin-left: 10px;
}
.upload{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}