.flex-article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.flex-article:last-child{
    margin-bottom: 0;
}
.flex-article .left-side{
    margin-right: 20px;
}
.flex-article form span{
    display: none;
}
.flex-article .right-side .delete{
    background: none;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px 15px; 
    cursor: pointer;
}