.flex-article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.flex-article:last-child{
    margin-bottom: 0;
}
.flex-article .left-side{
    margin-right: 20px;
    margin-bottom: 20px;
}
.flex-article:last-child .left-side{
    margin-bottom: 0;
}
.flex-article span{
    display: none;
}
.flex-article .delete, .flex-article .edites{
    background: none;
    cursor: pointer;
    border: none;
}
.flex-article .delete span{
    font-size: 0;
}
.flex-article .more-container{
    position: relative;
    transition: color 0.4s;
}

.flex-article .ellipsis{
    cursor: pointer;
}
.flex-article .icon{
    position: relative;
    z-index: 2;
}
.flex-article .popup-container{
    position: absolute;
    top: -5px;
    right: -120px;
    overflow: hidden;
}

.flex-article .popup-container .wrapper{
    display: none;
    /* transform: translateY(-200%); */
    /* transition: all 2s ease-in-out; */
    margin: 5px;
    box-shadow: 0px 1px 5px 1px rgba(168, 168, 168, 0.7);
    border-radius: 5px;
}
.flex-article .popup-container .delete, .flex-article .popup-container .edites{
    display: flex;
    font-weight: 700;
    padding: 10px 10px;
    width: 100%;
}
.flex-article .popup-container .delete, .flex-article .popup-container .edites{
    transition: all 0.4s;
    border-radius: 5px;
}
.flex-article .popup-container .delete:hover{
    background: rgba(168, 168, 168, 0.3);
    color: #db2828;
}
.flex-article .popup-container .edites:hover{
    background: rgba(151, 78, 78, 0.3);
    color: #db2828;
}

.flex-article .left-side h3 a{
    color: #db2828;
}
.p-inner{
    margin-bottom: 25px;
}
.posts{
    margin-top: 35px;
}
.info:hover .popup-container .wrapper{
    /* transform: translateY(0); */
    display: block;
    /* opacity: 1; */
}
.icon-red{
    transition: color 0.6s;
}
.info:hover .icon-red{
    color: #db2828;
}