.flex-article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.flex-article:last-child{
    margin-bottom: 0;
}
.flex-article .left-side{
    margin-right: 20px;
}
.flex-article form span{
    display: none;
}
.flex-article .delete{
    background: none;
    cursor: pointer;
    border: none;
}
.flex-article .delete span{
    font-size: 0;
}