
header{
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 15px;
}
header .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
header .flex-container .nick-name{
    line-height: 40px;
}
header a {
    color: #db2828;
    transition: color 0.6s;
}
header a:hover{
    color: hsla(0, 71%, 51%, 0.514);
}