
header{
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 15px;
}
.content{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 110px;
}