.enter .enter-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 600px;
    height: 300px;
    background-size: cover; 
}
.enter .enter-container::after{
    content: '';
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    border-radius: 25px;
}
.enter .enter-close{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 10px;
}
.enter .enter-close .close{
    transform: scale(0.8);
    transition: transform 0.4s;
}
.enter .enter-close:hover .close{
    transform: scale(1);
}
.enter .enter-container form{
    max-width: 300px;
    margin: 0 auto;
}
.enter .enter-container .form-enter{
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}
.enter .enter-container .form-enter .input{
    margin-bottom: 10px;
}
.enter .enter-container .form-enter button{
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .enter .enter-container{
        width: 300px;
    }
    .enter .enter-container .form-enter {
        max-width: 150px;
    }
}